<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dreamdeck.iot.mapper.DdProjectMapper">
    <resultMap id="DdDeviceResultMap" type="cn.dreamdeck.model.iot.vo.DdDeviceVo">
        <id column="device_id" property="deviceId"/>
        <result column="device_name" property="deviceName"/>
        <result column="projectName" property="projectName"/>
        <result column="model_id" property="modelId"/>
        <result column="brand_name" property="brandName"/>
        <result column="brand_name" property="brandName"/>
        <result column="model_name" property="ModelName"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="user_name" property="userName"/>
        <result column="url" property="url"/>
    </resultMap>


    <resultMap id="DdDeviceInfoResultMap" type="cn.dreamdeck.model.iot.vo.DdDeviceInfoVo">
        <result column="brandName" property="brandName"/>
        <result column="modelName" property="modelName"/>
        <result column="modelPower" property="modelPower"/>
        <result column="modelCommunication" property="modelCommunication"/>
        <result column="modelPowerWaste" property="modelPowerWaste"/>
        <result column="dataList" property="dataList"/>
        <result column="deviceId" property="deviceId"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="lastTime" property="lastTime"/>
        <result column="subsetId" property="subsetId"/>
        <result column="connectBaud" property="connectBaud"/>
        <result column="userName" property="userName"/>
        <result column="upsideId" property="upsideId"/>
    </resultMap>

    <select id="deviceInfo" resultMap="DdDeviceInfoResultMap">
        SELECT
            b.brand_id as brandName,
            b.model_name as modelName,
            b.model_power as modelPower,
            b.model_power_waste as modelPowerWaste,
            b.data_list as dataList,
            b.model_communication as modelCommunication,
            a.device_id as deviceId,
            c.username as userName,
            a.subset_id as subsetId,
            a.upside_id as subsetId,
            a.connect_baud as connectBaud,
            a.latitude as la,
            a.longitude as longitude,
            a.latitude as latitude
        FROM
            dd_device AS a,
            sys_device_model AS b ,
            dreamdeck.sys_user as c
        WHERE
            a.model_id = b.model_id and c.user_id =a.user_id
            and device_id=#{deviceId}

    </select>

    <select id="getTotalDeviceList" resultMap="DdDeviceResultMap">
       SELECT
        a.device_id AS device_id,
        a.model_id as model_id,
        a.device_name AS device_name,
		f.project_name as projectName,
        d.model_name AS model_name,
        c.brand_name AS brand_name,
        a.`status` AS STATUS,
        a.create_time AS create_time,
        b.username as user_name,
        e.url as url
        FROM
        dd_device AS a,
        dreamdeck.sys_user AS b,
        sys_device_brand AS c,
        sys_device_model AS d,
        sys_device_type as e,
				dd_project as f
        WHERE
        a.brand_id = c.brand_id
        AND a.model_id = d.model_id
        AND a.user_id = b.user_id
        AND a.type_id = e.type_id
				and a.project_id = f.project_id
    </select>

    <select id="getDeviceList" resultMap="DdDeviceResultMap">
        SELECT
        a.device_id AS device_id,
        a.model_id as model_id,
        a.device_name AS device_name,
        d.model_name AS model_name,
        c.brand_name AS brand_name,
        a.`status` AS STATUS,
        a.create_time AS create_time,
        b.username as user_name,
        e.url as url
        FROM
        dd_device AS a,
        dreamdeck.sys_user AS b,
        sys_device_brand AS c,
        sys_device_model AS d,
        sys_device_type as e
        WHERE
        a.brand_id = c.brand_id
        AND a.model_id = d.model_id
        AND a.user_id = b.user_id
        AND a.type_id = e.type_id
        AND a.project_id= #{projectId}
        <if test="classifyId!=null and classifyId!=''">
            AND a.classify_id=#{classifyId}
        </if>
    </select>
</mapper>
